################################################################################
# General ETL Config Variables
#
# Variable values needed in almost all ETL programs 
#
# How to call it:
# When ETL general libs is imported, the variables will be initialized.
# load('../../../GeneralLibraries/GeneralETL_ConfigVariables.jss')
#
# Author: Carlos Kassab - 2025-December-20
################################################################################

# smtpServer = "smtp.office365.com"
# smtpUser = "carlos.kassab@company.com"
# smtpPassword = "*******"

mailSmtpServer -> smtp.gmail.com
mailSmtpUser -> mymail@gmail.com
mailSmtpPassword -> ThePassw0rd
