################################################################################
# File:Catalogs.config - Config file for etl Catalogs.sc process
# Author: Carlos Kassab - December/17/2025
################################################################################

logsFolder -> Log

// Full path to H2 database.
sourceDBPath -> /home/ckassab/Development/ETLs/ETLsHowTo/ETLsWithScala/Data/SourceDB/SourceDB.h2
sourceDBUser -> sa
sourceDBPassword ->

// Full path to SQLite database.
targetDBPath -> /home/ckassab/Development/ETLs/ETLsHowTo/ETLsWithScala/Data/TargetDB/TargetDB.sqlite

emailRecipients -> carlos.kassab@company.com
sendEmails -> false

numDaysToKeepLogFiles -> 8

// Project and processes values.
  // projectCode -> 1 indicates General data 
projectCode -> 1 

